@page "/records/this-day"

@using RiseDiary.Shared.Records

@inject ILogger<ThisDayPage> Logger
@inject HttpClient Http

@inherits UIComponentBase


<PageTitle>Этот день</PageTitle>

<div class="col-12 p-3 text-center"><h3>@ThisDayCaption</h3></div>

@if (HasError)
{
    <p style="color:red">@ErrorMessage</p>
}

<Spinner Loading="Loading">
    @if (_records != null)
    {
        <div class="row">
            <RecordsTableExpanded Records="_records" />
        </div>
    }
</Spinner>


@code {
    public string ThisDayCaption => DateTime.UtcNow.ToString("m");

    private List<RecordDto>? _records;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            await StartApiRequest();

            var response = await Http.GetAsync("api/records/this-day", Token);
            
            if(!await CheckSuccessResponse(response)) return;

            if(response.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                _records = new();
            }
            else
            {
                _records = await response.Content.ReadFromJsonAsync<List<RecordDto>>();
            }

            await FinishApiRequest(null);
        }
        catch (Exception exc)
        {
            _records = new();
            Logger.LogWarning(exc, "Eror on 'This Day' page initialization");
            await FinishApiRequest(exc.Message);
        }
    }
}
