body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

th {
    vertical-align: middle;
}

.SumoSelect{
    width:500px;
}

.display-text {
    border: 1px solid #66FF00;
    background-color: #99FF66;
    border-radius: 3px;
}

.input-validation-error{
    border-color:red;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

#blazor-error-ui {
    display: none;
}

.linear-progress {
    background: silver;
    width: 50vw;
    margin: 0.5rem auto;
    height: 1.5rem;
    border-radius: 10rem;
    overflow: hidden;
    position: relative;
}

    .linear-progress:after {
        content: '';
        background: green;
        position: absolute;
        inset: 0;
        scale: var(--blazor-load-percentage, 0%) 100%;
        transform-origin: left top;
        transition: scale ease-out 0.5s;
    }

.load-image {
    display: block;
    margin: 10% auto;
    width: auto;
}

.content-editable-div {
    width: 100%;
    border: 1px solid silver;
    overflow: auto;
    resize: vertical;
}

.multiline-input {
    width: 100%;
    border: 1px solid silver;
    overflow: auto;
    resize: vertical;
}

.disabled-content {
    position: relative;
    min-height: 4.5rem;
    pointer-events: none;
    opacity: 0.4;
    transition: 0.3s;
}

.disabled-inline-content {
    position: relative;
    pointer-events: none;
    opacity: 0.4;
    transition: 0.3s;
}

.loader-image {
    position: absolute;
    height: 100%;
    width: 100%;    
    background-image: url('img/loader.gif');
    background-size: 3.5rem;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.enabled-content {
    opacity: 1;
    transition: 0.3s;
}

#image-view{
    left: 0px;
}