<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RiseDiary</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    
    <environment include="Development">
        <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
              asp-fallback-href="~/lib/jquery-ui/themes/base/jquery-ui.css" 
              asp-fallback-test-class="ui-button"  asp-fallback-test-property="display" asp-fallback-test-value="inline-block" />        
    </environment>
    
</head>
<body>
    <div class="container alert-info" style="margin-bottom:10px">
        <h3 class="col-sm-10">Дневник: <span style="font-size:smaller">@ViewData["TitlePart"]</span></h3>
    </div>
    <nav class="container">
        <div class="btn-group btn-group-justified">
            <a asp-page="Areas" class="btn btn-info">Области интересов</a>
            <a asp-page="Images" class="btn btn-info">Рисунки</a>
            <a asp-page="RecordEdit" class="btn btn-info">Создать запись</a>
            <a asp-page="RecordsView" class="btn btn-info">Поиск</a>
            <!--
            <a class="btn btn-info">Записи</a>
            <a class="btn btn-info">Календарь</a>
                -->
        </div>
    </nav>
    
    <div class="container body-content">
        <hr />
        @RenderBody()
        <hr />        
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
                asp-fallback-src="~/lib/jquery-ui/jquery-ui.js"
                asp-fallback-test=""
                crossorigin="anonymous">
        </script>
    </environment>    

    @RenderSection("Scripts", required: false)
</body>
</html>
