@page
@model RiseDiary.WebUI.Pages.ConfigModel
@{ 
    ViewData["Title"] = "Настройки";
}

<div class="offset-md-1 col-md-10 col-sm-12">
    <table class="table table-striped mt-3">
        <tbody>
            <tr>
                <td>Информация о базе данных и дополнительные функции для работы с базой</td>
                <td><a asp-page="Settings/DbActions" class="btn btn-link">Открыть</a></td>
            </tr>
            <tr>
                <td>Настройки изображений</td>
                <td><a asp-page="Settings/ImagesSettings" class="btn btn-link">Открыть</a></td>
            </tr>
            <tr>
                <td>Значениe base Url</td>
                <td><a asp-page="Settings/HostAndPortSetting" class="btn btn-link">Открыть</a></td>
            </tr>
            @*<tr>
                <td>Просмотр удаленных данных</td>
                <td><a asp-page="Settings/DeletedData" class="btn btn-link">Открыть</a></td>
            </tr>*@
        </tbody>
    </table>
</div>