@page
@model RiseDiary.WebUI.Pages.ConfigModel
@{ ViewData["Title"] = "Настройки";
                ViewData["TitlePart"] = "Настройки"; }
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Информация о базе данных и дополнительные функции для работы с базой</td>
                    <td><a asp-page="Settings/DbActions" class="btn btn-link">Открыть</a></td>
                </tr>
                <tr>
                    <td>Настройки изображений</td>
                    <td><a asp-page="Settings/ImagesSettings" class="btn btn-link">Открыть</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>