@page
@model IndexModel
@{
    ViewData["Title"] = "Дневник";
}

@if (Model.StartPageRecord != null)
{
    @Html.Raw(Model.StartPageRecord.Text)
    <br />
    <h6><a asp-page="Records/View" asp-route-recordId="@Model.StartPageRecord.Id.ToString()">Открыть запись</a></h6>
}
else
{
    <div class="col-12 p-5">
        <h3 style="color:silver">Стартовая страница не выбрана</h3>
    </div>

}
