@page
@model RiseDiary.WebUI.Pages.RecordsViewModel
@{
    ViewData["Title"] = "RecordsView";
}

<a asp-page="RecordEdit" class="btn btn-success">Создать запись</a>

@foreach(var rec in Model.Records)
{
    

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
