@page
@model RiseDiary.WebUI.Pages.RecordsViewModel
@{
    ViewData["Title"] = "RecordsView";
}

<h2>RecordsView</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
