@page "/dates/oncalendar"

@inherits UIComponentBase

<PageTitle>Все даты</PageTitle>


<Spinner Loading="Loading">
    <div class="row">
        @if (_datesList != null)
        {
            <DatesSubmenu CurrentPageUriPart="oncalendar" />
        }

        @if (HasError)
        {
            <p style="color:red">@ErrorMessage</p>
        }

        <div class="col-12">
            <div id="calendar" style="height:450px"></div>
        </div>

        <ModalDialog Show="_selectedDates != null" Title="@_selectedDatesHeader" OnClose="ClearSelected">
            <ul>
                @foreach (var dto in _selectedDates!)
                {
                    <li>
                        <NavLink href="@GetRecordLink(dto)">@dto.Name</NavLink>
                    </li>
                }
            </ul>
        </ModalDialog>
    </div>

</Spinner>