@using RiseDiary.WebUI.Pages.Shared.Components
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>@ViewData["Title"] - RiseDiary</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png">

    @RenderSection("Styles", required: false)

    <style>
        a {
            text-decoration: none !important;
        }

        ul {
            list-style: none;
        }
    </style>

    <script type="text/javascript">
        
        function getBrowserTimezoneOffset(){
            return new Date().getTimezoneOffset();
        }

    </script> 

</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
                <div class="container-fluid">
                    <a class="navbar-brand" href="~/Records/Create">Создать запись</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a href="~/Scopes" class="nav-link">Темы</a>
                            <a href="~/Images" class="nav-link">Изображения</a>
                            <a href="~/Dates" class="nav-link">Даты</a>
                            <a href="~/Analysis/ThisDay" class="nav-link">Этот день</a>
                            <a href="~/Records?expanded=true" class="nav-link">Все записи</a>
                            <a href="~/Analysis/Search" class="nav-link">Поиск по тексту</a>
                            <a href="~/Analysis/Calendar" class="nav-link">Календарь</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <component type="typeof(BrowserTimeOffset)" render-mode="Server" />

        <hr class="my-2" />

        <div class="row">
            @RenderBody()
        </div>

        <hr />
        
        <h6>
            Rise Diary V 7.7
            <a href="/config">
                <img src="img/wrench.svg" width="20" height="20" alt="Настройки" title="Настройки" />
            </a>
        </h6>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/_framework/blazor.server.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
