@page "{handler?}"
@model RiseDiary.WebUI.Pages.DbFile.CompressBaseModel
@{
    ViewData["Title"] = "Файл базы данных";
    ViewData["TitlePart"] = "Сжатие базы данных";
}

@section Styles
    {
    <style>
        #navigationPanel {
            background-color: #d1fffe;
            text-align: center;
        }
        table tbody tr td {
            font-weight: bold;
        }
    </style>
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="form-horizontal" id="navigationPanel">
                <a href="/DbFile/Index" class="btn btn-link">Общая информация</a>
                &nbsp;|&nbsp;<a href="/DbFile/ClearBase" class="btn btn-link">Очистка базы</a>
            </div>
        </div>
        <h4>
            Сжатие базы уменьшает размер файла за счет удаления неиспользуемых под данные участков файла
        </h4>
        <table class="table table-striped">
            <tbody>
                @if (Model.CompressedFileSize == null)
                {
                <tr>
                    <td>Размер файла базы:</td>
                    <td><i>@Model.FileSize</i></td>
                </tr>
                }
                else
                {
                <tr>
                    <td>Размер до сжатия:</td>
                    <td><i>@Model.FileSize</i></td>
                </tr>
                <tr>
                    <td>Размер после сжатия:</td>
                    <td><i>@Model.CompressedFileSize</i></td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <form method="post">
                            <input type="submit" class="btn btn-success btn-sm" value="Сжать файл базы" asp-page-handler="CompressBase" />
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>