@page
@model RiseDiary.WebUI.SelectImagesModel
@{
    ViewData["Title"] = "Выбор картинок";
    ViewData["TitlePart"] = "Выбор картинок";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <component type="typeof(SelectImagesComponent)" render-mode="ServerPrerendered" param-RecordId="@Model.RecordId" />
    </div>
</div>

<script type="text/javascript">

    function showSaveMessage() {
        alert('Изменения сохранены');
    }

</script>