@using RiseDiary.Shared

@inject NavigationManager NavManager

<nav style="@(FloatRight ? "float:right" : "")">
    @if (Pages.TotalPages > 1)
    {
        <ul class="pagination mb-1">
            @foreach (var (classes, p) in LinksList)
            {
                <li class="@classes">
                    <button class="page-link" @onclick="async _ => await Navigate(p)">@p</button>
                </li>
            }
        </ul>
    }
</nav>


@code{

    [Parameter, EditorRequired]
    public PagesInfo Pages { get; set; } = null!;

    [Parameter, EditorRequired]
    public Func<int, Task> Navigate { get; set; } = null!;

    [Parameter]
    public bool FloatRight { get; set; }

    private IEnumerable<(string classes, int page)> LinksList => Pages.Pages
        .Select(p => (p == Pages.CurrentPage ? "page-item disabled" : "page-item", p));
}