<div class="@ContainerClass">
    @if (Loading && ShowAnimation)
    {
        <div class="loader-image"></div>
    }

    @ChildContent

</div>

@code {

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool ShowAnimation { get; set; } = true;

    private string ContainerClass => Loading ? "disabled-content" : "enabled-content";
}
