@namespace RiseDiary.Front.Pages

<div class="@ContainerClass">
    @if (Loading)
    {
        <div class="loader-image"></div>
    }

    @ChildContent

</div>

@code {

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string ContainerClass => Loading ? "disabled" : "enabled";
}
