@using RiseDiary.Shared.Images

@inject NavigationManager NavManager

<div class="card">
    @if (!OnlyImage)
    {
        <div class="card-header text-wrap text-center">
            <a href="images/edit/@Image.ImageId/@RecordId">@Image.Name</a>
        </div>
    }

    <div class="card-body">
        <div class="text-center">
            <a style="cursor:pointer" @onclick="_ => ImageClick(Image.ImageId)">
                <img src="data:image/jpg;base64,@Image.Base64Thumbnail" class="img-thumbnail" />
            </a>
        </div>
    </div>

    @if (!OnlyImage)
    {
        <div class="card-footer text-center">
            @if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                @ImageShortInfo
            }
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public ImageListItemDto Image { get; set; } = null!;

    [Parameter, EditorRequired]
    public Action<Guid> ImageClick { get; set; } = _ => { };

    [Parameter]
    public bool OnlyImage { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Guid? RecordId { get; set; }

    private MarkupString ImageShortInfo => new MarkupString(
        $"{Image?.Width ?? 0} / {Image?.Height ?? 0} <b>{Image?.SizeKb ?? "?"}</b>");
}
