@page "/"
@page "/index.html"

@using RiseDiary.Front.AppServices
@using RiseDiary.Shared.Records

@inject MarkdownService MdService
@inject HttpClient Http
@inject NavigationManager NavManager

@inherits UIComponentBase

<PageTitle>Дневник</PageTitle>

<div class="col-12 p-2">
    <Spinner Loading="_startPageRecord == null">

        @if (HasError)
        {
            <pre style="color:red;">@ErrorMessage</pre>
        }

        @if (_startPageRecord != null && _startPageRecord.RecordId == null)
        {
            <h3 class="p-3" style="color:silver">Стартовая страница не выбрана</h3>            
        }
        
        @if (_startPageRecord?.RecordId != null )
        {
            @RecordHtml

            <br />

            <NavLink href="@RecordUrl">Открыть запись</NavLink>
        }

    </Spinner>
</div>

@code {
    private StartPageRecordDto? _startPageRecord;

    private MarkupString RecordHtml => MdService.ToHtml(_startPageRecord?.RecordMdText);

    private string RecordUrl => $@"records/view/{_startPageRecord?.RecordId?.ToString()}";


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            _startPageRecord = await Http.GetFromJsonAsync<StartPageRecordDto>("api/startpage", Token);
            if(_startPageRecord != null && _startPageRecord.RecordMdText != null)
            {
                _startPageRecord.RecordMdText = InternalLinksHelper.SetBaseUri(
                    _startPageRecord.RecordMdText, NavManager.BaseUri);
            }
        }
        catch (Exception exc)
        {
            ErrorMessage = exc.Message;
            _startPageRecord = new();
        }
    }
}