@page
@model RiseDiary.WebUI.Pages.Export.ImportRecordsModel
@{
    ViewData["Title"] = "Improt from xml";
    ViewData["TitlePart"] = "Загрузка данных из xml-файла";
}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form asp-page-handler="ImportData" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <td colspan="2"><input type="file" accept="text/xml" id="xmlFile" name="xmlFile" class="form-control-file" style="width:80%" /></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Записи с одинаковым кодом</h4>
                            <ul class="radio" style="list-style-type: none;">
                                <li><input type="radio" name="updateAction" value="@UpdateRecordAction.SkipNew" checked="checked" />Пропустить. Не обновлять записи с таким же кодом</li>
                                <li><input type="radio" name="updateAction" value="@UpdateRecordAction.RewriteOld" />Обновить старую запись (восстановление данных)</li>
                                <li><input type="radio" name="updateAction" value="@UpdateRecordAction.RewriteIfNewest" />Обновить старую запись, если дата последнего изменения для импортируемой записи больше (синхронизация данных между дневниками)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Загрузить" class="btn btn-sm btn-success form-control" style="width:150px" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>