@page "{handler?}"
@model RiseDiary.WebUI.Pages.Scopes.ActualThemesModel
@{
    ViewData["Title"] = "Актуальность тем";
    ViewData["TitlePart"] = "Актуальность тем";
}

@section Styles{ 
<style>
    .actual {
        background-color: #c0ffa2;
    }

    .not-actual {
        background-color: #e0e0e0;
    }

    input[type=submit] {
        float: right;
    }
        
    #navigationPanel {
        background-color: #d1fffe;
        text-align: center;
    }
    </style>
}

<div class="row">    
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="form-horizontal" id="navigationPanel">
                <a href="/Scopes/Index" class="btn btn-link">Редактирование тем</a>
            </div>
        </div>
        <table class="table">
            <tbody>
                @foreach (var theme in Model.Themes)
                {
                    <tr class=@(theme.Actual ? "actual" : "not-actual")>
                        <td>@theme.ScopeName</td>
                        <td>@theme.ThemeName</td>
                        @if (theme.Actual)
                        {
                            <td>
                                <form method="post" asp-page-handler="SetNotActual">
                                    <input type="hidden" name="themeId" value="@theme.Id" />
                                    <input type="submit" class="btn btn-danger btn-sm" value="Сделать неактуальной" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form method="post" asp-page-handler="SetActual">
                                    <input type="hidden" name="themeId" value="@theme.Id" />
                                    <input type="submit" class="btn btn-success btn-sm" value="Сделать актуальной" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

