@page "{handler?}"
@model ScopePageModel
@{
    ViewData["Title"] = "Области интересов и темы";
}

    <div class="offset-md-2 col-md-8 col-sm-12 mt-2">
        <component type="typeof(ScopesList)" render-mode="ServerPrerendered" />
    </div>