@page "{handler?}"
@model ScopePageModel
@{
    ViewData["Title"] = "Области интересов и темы";
    ViewData["TitlePart"] = "Области интересов и относящиеся к ним темы, которых касаются записи";
}

<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <component type="typeof(ScopesListComponent)" render-mode="ServerPrerendered" />

        </div>
    </div>
</div>