@using RiseDiary.Model;

@namespace RiseDiary.WebUI.Pages.Scopes

@inject IScopesService ScopesSvc

<div class="card">
    <div class="card-header">
        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
        <p style="color:red;">@ErrorMessage</p>}
        <div class="input-group">
            <input type="text" @bind-value="NewScopeName" @bind-value:event="onchange" class="form-control" placeholder="Введите название новой области интересов" />
            <button type="button" @onclick="CreateNewScope" class="btn btn-outline-success input-group-btn" title="Создать">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<div>
    @foreach (var sc in Scopes)
    {
        <Scope CurrentScope="sc" UpdateParentState="UpdateState" @key="sc"></Scope>
    }
</div>

@code{ 
    
    private List<DiaryScope> Scopes { get; set; } = null!;
    private string? NewScopeName { get; set; }
    private string? ErrorMessage { get; set; }

    private async Task CreateNewScope()
    {
        if (string.IsNullOrWhiteSpace(NewScopeName))
        {
            ErrorMessage = "Название области не введено";
        }
        else
        {
            try
            {
                await ScopesSvc.AddScope(NewScopeName.Trim());
                NewScopeName = null;
                Scopes = await ScopesSvc.GetScopes();
                ErrorMessage = null;
            }
            catch (Exception exc)
            {
                ErrorMessage = exc.Message;
            }
        }
    }

    private async Task UpdateState()
    {
        Scopes = await ScopesSvc.GetScopes();
        this.StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        Scopes = await ScopesSvc.GetScopes();
    } 
}