@page
@model RiseDiary.WebUI.Pages.Settings.HostAndPortSetingModel
@{
    ViewData["Title"] = "Базовый HOST и PORT";  
}

    <form method="post" asp-page-handler="UpdateHostAndPort">
         <div class="row mt-2 mb-3">
             <div class="col-lg-8 col-md-6 col-sm-12 mt-1">
                 <b>Значение базового url приложения, которое будет заменяться при сохранении внутренних ссылок для обеспечения их корректности нa разных средах</b>
                 <p>Базовый URI текущей страницы: <i>@Model.CurrentHostAndPort</i></p>
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <input type="text" required="required" name="hostAndPort" class="form-control" value="@Model.HostAndPort"/>
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <button type="submit" class="btn btn-outline-success form-control">Сохранить</button>
             </div>
         </div>
     </form>   
