@page
@model RiseDiary.WebUI.ImageQualityModel
@{ 
    ViewData["Title"] = "Настройки";  
}

     <form method="post" asp-page-handler="UpdateImageQuality">
         <div class="row mt-2 mb-3">
             <div class="col-lg-8 col-md-6 col-sm-12 mt-1">
                 <b>Настройка качества сжатия Jpeg изображений при изменении размеров и обрезке</b>
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <span asp-validation-for="ImageQuality" style="color:red"></span>
                 <input asp-for="ImageQuality" class="form-control" />
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <button type="submit" class="btn btn-outline-success form-control">Сохранить</button>
             </div>
         </div>
     </form>     
     
     <form method="post" asp-page-handler="UpdateThumbnailSize">
         <div class="row mt-2 mb-3">
             <div class="col-lg-8 col-md-6 col-sm-12 mt-1">
                 <b>Размер бОльшей стороны превью-изображения в пикселях</b>
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <span asp-validation-for="ThumbnailSize" style="color:red"></span>
                 <input asp-for="ThumbnailSize" class="form-control" />
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <button type="submit" class="btn btn-outline-success form-control">Сохранить</button>
             </div>
         </div>
     </form>

     <form method="post" asp-page-handler="UpdateMaxScaledWidth">
         <div class="row mt-2 mb-3">
             <div class="col-lg-8 col-md-6 col-sm-12 mt-1">
                 <b>Значение максимальной ширины превью-изображения на странице обрезки. Если исходное изображение будет иметь бОльшую ширину, то оно будет пропорционально уменьшено</b>
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <span asp-validation-for="CropImageMaxScaledWidth" style="color:red"></span>
                 <input asp-for="CropImageMaxScaledWidth" class="form-control" />
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <button type="submit" class="btn btn-outline-success form-control">Сохранить</button>
             </div>
         </div>
     </form>

     <form method="post" asp-page-handler="UpdateMaxScaledHeight">
         <div class="row mt-2 mb-3">
             <div class="col-lg-8 col-md-6 col-sm-12 mt-1">
                 <b>Значение максимальной высоты превью-изображения на странице обрезки. Если исходное изображение будет иметь бОльшую высоту, то оно будет пропорционально уменьшено</b>
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <span asp-validation-for="CropImageMaxScaledHeight" style="color:red"></span>
                 <input asp-for="CropImageMaxScaledHeight" class="form-control" />
             </div>

             <div class="col-lg-2 col-md-3 col-sm-6 mt-1">
                 <button type="submit" class="btn btn-outline-success form-control">Сохранить</button>
             </div>
         </div>
     </form>

