@page
@model RiseDiary.WebUI.ImageQualityModel
@{ 
    ViewData["Title"] = "Настройки";
    ViewData["TitlePart"] = "Настройки для изображений";     
}

<div class="row" style="margin-top:10px">
    <div class="col-md-12" style="padding:20px">
        <form method="post" asp-page-handler="UpdateImageQuality">
            <div class="col-md-8" style="margin-top:3px">
                <b>Настройка качества сжатия Jpeg изображений при изменении размеров и обрезке</b>
            </div>
            <div class="col-md-2">
                <span asp-validation-for="ImageQuality" style="color:red"></span>
                <input asp-for="ImageQuality" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-sm form-control">Сохранить</button>
            </div>
        </form>
    </div>

    <div class="col-md-12" style="padding:20px">
        <form method="post" asp-page-handler="UpdateThumbnailSize">
            <div class="col-md-8" style="margin-top:3px">
                <b>Размер бОльшей стороны превью-изображения в пикселях</b>
            </div>
            <div class="col-md-2">
                <span asp-validation-for="ThumbnailSize" style="color:red"></span>
                <input asp-for="ThumbnailSize" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-sm form-control">Сохранить</button>
            </div>
        </form>
    </div>

    <div class="col-md-12" style="padding:20px">
        <form method="post" asp-page-handler="UpdateMaxScaledWidth">
            <div class="col-md-8" style="margin-top:3px">
                <b>Значение максимальной ширины превью-изображения на странице обрезки. Если исходное изображение будет иметь бОльшую ширину, то оно будет пропорционально уменьшено</b>
            </div>
            <div class="col-md-2">
                <span asp-validation-for="CropImageMaxScaledWidth" style="color:red"></span>
                <input asp-for="CropImageMaxScaledWidth" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-sm form-control">Сохранить</button>
            </div>
        </form>
    </div>

    <div class="col-md-12" style="padding:20px">
        <form method="post" asp-page-handler="UpdateMaxScaledHeight">
            <div class="col-md-8" style="margin-top:3px">
                <b>Значение максимальной высоты превью-изображения на странице обрезки. Если исходное изображение будет иметь бОльшую высоту, то оно будет пропорционально уменьшено</b>
            </div>
            <div class="col-md-2">
                <span asp-validation-for="CropImageMaxScaledHeight" style="color:red"></span>
                <input asp-for="CropImageMaxScaledHeight" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-sm form-control">Сохранить</button>
            </div>
        </form>
    </div>
</div>

