@using RiseDiary.Model

@namespace RiseDiary.WebUI.Pages.Records

@inject IJSRuntime JSRuntime
@inject IRecordsService RecordsService

@if (_criticalError is not null)
{
    <p style="color:red">Произошла критическая ошибка: @_criticalError</p>
}
else
{
    @if (_editMode)
    {
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 mb-1">
                <input type="date" required="required" @bind="_recordDate" @bind:event="oninput" @bind:format="yyyy-MM-dd" class="form-control" />
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 mb-1">
                <div class="input-group">
                    <input type="text" required="required" @bind="_recordName" @bind:event="oninput" class="form-control" />

                    <div class="input-group-append">
                        <button type="button" class="btn btn-link" title="Сохранить изменения" @onclick="UpdateNameAndDate">
                            <img src="img/check-square.svg" />
                        </button>

                        <button type="button" class="btn btn-link" title="Закрыть" @onclick="e => { _editMode = false; }">
                            <img src="img/x-square.svg" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h5 style="color:darkblue;display:inline">
            <b>@_recordDate.ToString("yyyy.MM.dd")</b> <i>@_recordName.GetRecordNameDisplay()</i>
        </h5>

        <button type="button" class="btn btn-link pt-0" title="Редактировать заголовок и дату" @onclick="_ => _editMode = true">
            <img src="img/pen.svg" />
        </button>
    }
}

@code {

    [Parameter]
    public DiaryRecord Record { get; set; } = null!;

    private bool _editMode;

    private DateOnly _recordDate;

    private string _recordName = "";

    private string? _criticalError;


    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        try
        {
            _recordDate = Record.Date;
            _recordName = Record.Name;
        }
        catch (Exception exc)
        {
            _criticalError = exc.Message;
        }
    }

    private async Task UpdateNameAndDate()
    {
        try
        {
            if (_recordDate == default)
            {
                await JSRuntime.InvokeVoidAsync("alert", "Дата не введена");
                return;
            }
            
            await RecordsService.UpdateRecord(Record.Id, _recordDate, _recordName, null);

            _editMode = false;
        }
        catch (Exception exc)
        {
            _criticalError = exc.Message;
        }
    }
}

