@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Http

@namespace RiseDiary.WebUI.Pages.Records

<Thumbnail ImageId="ImageId" ImageName="@ImageName" RecordId="RecordId">
    <form method="post" action="/Records/View/DeleteImage">
        <input type="hidden" name="imageId" value="@ImageId" />
        <input type="hidden" name="recordId" value="@RecordId" />
        <input type="submit" class="btn btn-outline-secondary btn-sm" value="Открепить" />
        <input name="__RequestVerificationToken" type="hidden" value="@_token">
    </form>
</Thumbnail>

@code {
    [Parameter]
    public Guid ImageId { get; set; }

    [Parameter]
    public string? ImageName { get; set; } = "";

    [Parameter]
    public Guid RecordId { get; set; }

    [Inject]
    public IAntiforgery Antiforgery { get; set; } = null!;

    [Parameter]
    public HttpContext Context { get; set; } = null!;

    private string _token = "";

    protected override void OnInitialized()
    {
        _token = Antiforgery.GetAndStoreTokens(Context).RequestToken ?? "";
    }
}
