body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

th {
    vertical-align: middle;
}

.SumoSelect{
    width:500px;
}

.display-text {
    border: 1px solid #66FF00;
    background-color: #99FF66;
    border-radius: 3px;
}

.input-validation-error{
    border-color:red;
}
