@namespace RiseDiary.WebUI.Pages.Dates

    <div class="col-12 mt-1 mb-2">
        @foreach(var kv in _pagesLinks)
        {
            @if(!kv.Key.Contains(CurrentPage, StringComparison.OrdinalIgnoreCase)) 
            { 
                <a href="@kv.Key" class="btn btn-link">@kv.Value</a>
            }
        }
    </div>

@code {

    private Dictionary<string, string> _pagesLinks = new Dictionary<string, string>() {
        { "/dates/setup", "Настройки" },
        { "/dates/index", "Ближайшие даты" },
        { "/dates/fulllist", "Все даты года" },
        { "/dates/calendar", "Даты на календаре" } };

    [Parameter]
    public string CurrentPage { get; set; } = null!;
}
